@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}